.form-wrapper {
    width: 100%;
    max-width: 475px;
    position: relative;
    margin-bottom: 100px;
    
    &-inner {
        font-weight: 500;
        color: #000;
        background: #fff;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        width: 100%;
        border-radius: 10px;
        padding: 125px 30px 20px;
        button {
            width: 100%;
            margin: 20px 0 0;
            background: #135ee6;
        }
        label {
            display: block;
            text-align: left;
            font-size: 0.8rem;
        }
        .options {
            display: flex;
            margin: 30px 0 0;
            select {
                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }
    }
    .name {
        .desc, .title {
            text-align: left;
        }
    }
    input {
        font-size: 0.8rem;
        padding: 10px 15px;
    }
}
label {
    font-size: 0.7rem !important;
}
input, select {
    &::placeholder {
        font-size: 0.8rem;
    }
}
select {
    font-size: 0.8rem !important;
}
.cvv-wrapper {
    position: relative;
    width: 75%;
    label {
        position: absolute;
        top: -22px;
        font-size: 0.82rem !important;
    }
}
input:focus, select:focus {
    box-shadow: none !important;
    outline: none !important;
    border: 1px solid #135ee6;
}